<header>
  <div>
    <h3 class="float-md-start mb-0">
      <fa-icon [icon]="faNewspaper"></fa-icon>
      News Portal
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a
        class="nav-link active"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <fa-icon [icon]="faHome"></fa-icon>
        Home</a
      >
      <a
        class="nav-link"
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <fa-icon [icon]="faInfo"></fa-icon>
        About Us</a
      >
    </nav>
  </div>
</header>
